@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = await userManager.GetUserAsync(User);
}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center top-navbar">
    
    <div class="d-flex align-items-center justify-content-between">
        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
            <img src="/img/logos/logoBigWhiteText.png" alt="Logo" class="top-nav-bar-logo" style="height: 100px">
        </a>
        <i class="bi bi-list toggle-sidebar-btn text-white"></i>
    </div>
    



    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class=" nav-link sidebar-item " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class='bx bx-user text-white'></i> <span class="icon-text">Minha conta</span>
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a href="#" onclick="logout()">
                    <i class='bx bx-log-out-circle text-white'></i> <span class="icon-text text-white">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

</header>


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link side-navbar-item" asp-action="Index" asp-controller="Dashboard">
                <i class='bx bx-line-chart text-gatekeeper-green'></i>
                <span>Dashboard</span>
            </a>
        </li>
        @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin") || await functions.IsUserInCompanyRoleView(user.Id, "HR"))
        {
            <li class="nav-item text-gatekeeper-green">
                <a class="nav-link collapsed" data-bs-target="#workers-nav" data-bs-toggle="collapse" href="#">
                    <i class="bx bxs-user-badge text-gatekeeper-green"></i><span class="important-black-text">Trabalhadores</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="workers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a asp-action="ListWorkers" asp-controller="Worker">
                        <i class='bx bx-list-ul text-gatekeeper-green'></i><span class="important-black-text">Lista de Trabalhadores</span>
                    </a>
                  </li>
                    @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin"))
                    {
                      <li>
                        <a asp-action="CreateWorker" asp-controller="Worker">
                            <i class='bx bx-user-plus text-gatekeeper-green'></i><span class="important-black-text">Criar Trabalhador</span>
                        </a>
                      </li>
                    }
                </ul>
            </li>
        }
        @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin"))
        {
             <li class="nav-item text-gatekeeper-green">
                <a class="nav-link collapsed" data-bs-target="#buildings-nav" data-bs-toggle="collapse" href="#">
                    <i class="bx bx-buildings text-gatekeeper-green"></i><span class="important-black-text">Edifícios</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="buildings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a asp-action="ListBuildings" asp-controller="Building">
                        <i class='bx bx-list-ul text-gatekeeper-green'></i><span class="important-black-text">Lista de Edifícios</span>
                    </a>
                  </li>
                  <li>
                    <a asp-action="CreateBuilding" asp-controller="Building">
                        <i class='bx bx-building text-gatekeeper-green'></i><span class="important-black-text">Adiconar Edifício</span>
                    </a>
                  </li>
                </ul>
            </li>
        }
    </ul>
</aside>
<!-- ======================= -->

<main id="main" class="main">
    <div>
        @RenderBody()
    </div>
</main>










