@{
    Layout = "_Layout.cshtml";
    var user = await userManager.GetUserAsync(User);
}
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
        <li>
            <a asp-action="Index" asp-controller="Dashboard">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">Dashboard</span>
            </a>
        </li>
        @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin") || await functions.IsUserInCompanyRoleView(user.Id, "HR"))
        {
            <li>
                <div class="iocn-link">
                    <a asp-action="ListWorkers" asp-controller="Worker">
                        <i class='bx bxs-user-badge'></i>
                        <span class="link_name">Workers</span>
                    </a>
                    @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin"))
                    {
                        <i class='bx bxs-chevron-down arrow'></i>
                    }
                </div>
                @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin"))
                {
                    <ul class="sub-menu">
                        <li><a class="link_name" asp-action="ListWorkers" asp-controller="Worker">Workers</a></li>
                        <li><a asp-action="CreateWorker" asp-controller="Worker">Create worker</a></li>
                    </ul>
                }
            </li>
        }
        @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin"))
        {
            <li>
                <div class="iocn-link">
                    <a asp-action="ListBuildings" asp-controller="Building">
                        <i class='bx bx-building-house'></i>
                        <span class="link_name">Buildings</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" asp-action="ListBuildings" asp-controller="Building">Buildings</a></li>
                    <li><a asp-action="CreateBuilding" asp-controller="Building">Add building</a></li>
                </ul>
            </li>
        }
        
        
        <!--Account center-->
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="image/profile.jpg" alt="profileImg">
                </div>
                <div class="name-job">
                    <div class="job">@user.Name @user.Surname</div>
                    <div class="job">@{var job = await functions.PrintUserRoleView(user.Id);}@job</div>
                </div>
                <a href="#" onclick="logout()"><i class='bx bx-log-out'></i></a>
            </div>
            
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <div class="">
            @RenderBody()
        </div>
    </div>
</section>

<script>
    function logout() {
        fetch('/Account/logout', {
            method: 'POST',
            headers: {
                'X-CSRF-TOKEN': '@Html.AntiForgeryToken()'  // for CSRF protection
            }
        }).then(response => {
            if (response.ok) {
                window.location.href = '/'; // Redirect after logout
            }
        }).catch(error => console.error('Error logging out:', error));
    }
</script>