@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<div class="container">
    <h1>User Login</h1>

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" required type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    Remember me
                </label>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>