@{
    Layout = "~/Views/Shared/_LayoutEmptySideBar.cshtml";
    ViewBag.Title = "Trabalhador";
}

<div class="containner">
    <h1>Ups! A área do trabalhador do website ainda não está disponível.</h1>
    <h3>Por favor utilize a aplicação móvel</h3>
</div>