@model EditTeamViewModel
@{
    ViewBag.Title = "Editar equipa de trabalhadores";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var user = await userManager.GetUserAsync(User);
}

<div class="containner">
    <h1>Editar equipa de trabalhadores</h1>

    @if (ViewBag.NameError != null)
    {
        <p class="text-danger">@ViewBag.NameError</p>
    }
    @if (ViewBag.WorkersError != null)
    {
        <p class="text-danger">@ViewBag.WorkersError</p>
    }

    <form asp-action="EditTeam" asp-controller="Worker" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-12">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Trabalhadores</h3>
                <table class="table" id="createTeamTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Cargo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Workers.Count; i++)
                        {
                            <tr>
                                <input type="hidden" asp-for="Workers[i].UserId" />
                                <td>
                                    <input type="hidden" asp-for="Workers[i].FullName" />
                                    @Model.Workers[i].FullName
                                </td>
                                <td>
                                    <input type="hidden" asp-for="Workers[i].Email" />
                                    @Model.Workers[i].Email
                                </td>
                                <td>
                                    <input type="hidden" asp-for="Workers[i].Role" />
                                    @if (Model.Workers[i].Role == "Admin")
                                    {
                                        <span>Administração</span>
                                    }
                                    else if (Model.Workers[i].Role == "HR")
                                    {
                                        <span>Recursos Humanos</span>
                                    }
                                    else if (Model.Workers[i].Role == "Worker")
                                    {
                                        <span>Trabalhador</span>
                                    }
                                    else
                                    {
                                        <span>Erro</span>
                                    }
                                </td>
                                <td>
                                    <input asp-for="Workers[i].isSelected" class="form-check-input selected-worker-checkbox" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar alterações</button>

    </form>
</div>
