@model Building
@{
    ViewBag.Title = "Edit Building";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">
    <div class="row">
        <a class="btn btn-danger" asp-action="Index" asp-controller="Building">Cancel</a>
    </div>
    <form method="post" asp-action="EditBuilding" asp-controller="Building">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <input asp-for="Id" class="d-none" type="hidden" value="@Model.Id" />
        <input asp-for="CompanyId" class="d-none" type="hidden" value="@Model.CompanyId" />

        <button type="submit" class="btn btn-primary">Continue</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
</div>