@model Company
@{
    ViewBag.Title = "Buildings list";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">
    <h2>@Model.Name Buildings</h2>
    @if (Model.Buildings != null && Model.Buildings.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>

                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach(var b in Model.Buildings)
                {
                    <tr>
                        <td>
                            @b.Name
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="BuildingDetails" asp-controller="Building" asp-route-buildingId="@b.Id">More details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No buildings found.</p>
    }

</div>