

@{
    Layout = "~/Views/Shared/_LayoutEmptySideBar.cshtml";
    ViewBag.Title = "Pedido feito";
}

<div class="containner">
    <h2>Pedido feito</h2>
    <p>O seu pedido foi realizado com sucesso e a nossa equipa de vendas entrará em contacto em breve.</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Client">Voltar ao início</a>
</div>